<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        padding-top: 30px;
        padding-left: 30px;
        background-color: #f9f9f9;
        font-family: Verdana, Arial, Helvetica, sans-serif;
      }
      @media (max-width: 980px) {
        body {
          padding-top: 0;
          padding-left: 0;
        }
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="content"><%= content %></div>

    <script src="/client.js"></script>
  </body>
</html>
