// the editor bounding box (including the left-right and top-bottom text margins)
.text-content-wrapper {
  border: dotted black 1px;
}

// the text bounding box inside the margins
.text-contents {
}

// selection overlay
.text-selection-overlay {
  background-color: #76a7fa;
  border-top: 1px solid #76a7fa;
  border-bottom: 1px solid #76a7fa;
  opacity: 0.50;
}

// the caret portion of the cursor
.text-cursor-caret {
}

// the square portion of the cursor above the caret when showing a cursor name
.text-cursor-top {
}

// the name associated with a cursor
.text-cursor-name {
}
